<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width-device-width,initial-scale=1">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<nav>
			<div class="dropdown">
				<span> Virtual Machines </span>
				<div class="dropdown-content">
					<a href=""> VM1 </a>
					<a href=""> VM2 </a>
				</div>
			</div>
			<a href=""> New Virtual Machine </a>
		</nav>
		<div id="nav-place-holder"> </div>
		<div class="card">
			<div class="card-header">
				<p> Virtual Machine Status </p>
			</div>
			<div class="card-item">
				<span class="field-title"> VM On/Off: </span>
				<span class="field_value"> blah blah </span>
			</div>
			<div class="card-item">
				<span class="field-title"> VM Name: </span>
				<span class="field_value"> blah blah </span>
			</div>
			<div class="card-item">
				<span class="field-title"> VM Disk Space: </span>
				<span class="field_value"> blah blah </span>
			</div>
			<div class="card-item">
				<span class="field-title"> VM RAM: </span>
				<span class="field_value"> blah blah </span>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<p> Manage Virtual Machine </p>
			</div>
			<form>
				<div class="card-item">
					<button id="on-off-switch" class="card-button"> On/Off </button>
				</div>
				<div class="card-item">
					<span class="field-title" class="card-button"> Set CPU Cores: </span>
					<input type="number" name="core-numbers">
				</div>
				<div class="card-item">
					<span class="field-title"> Set Disk Space: </span>
					<input type="number" name="core-numbers">
				</div>
				<div class="card-item">
					<button id="delete-button" class="card-button"> delete </button>
				</div>
			</form>
		</div>
		<div class="card">
			<div class="card-header">
				<p> Virtual Machine Interaction </p>
			</div>
			<form>
				<div class="card-item">
					<span class="field-title"> Input Command: </span>
					<input type="text" name="command">
					<span class="field-title"> Command Result: </span>
				</div>
				<div class="card-item">
					<button id="clone-button" class="card-button" style="left:30%"> Clone This Machine </button>
				</div>
			</form>
		</div>
	</body>
</html>

