<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<meta name="viewport" content="width-device-width,initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		{{ vms|json_script:"script-id"}}
		<script>
			$(function(){
				let current_vm = "vm1";
				const vms = JSON.parse($("#script-id").text());
				for (const vm in vms){
					if (vm !== current_vm){
						$("#"+vm).css("display","none");
					}
				}
				$("#on-switch").click(function(){
					$.post('/change_status/',{'vm':current_vm, 'new_state':'on'}, function(data,stat){
						if (data === "status changed"){
							$(".field-title:contains('state') ~ .field-value").text("on");
						}
					});
				});
				$("#off-switch").click(function(){
					$.post('/change_status/',{'vm':current_vm, 'new_state':'off'}, function(data,stat){
						if (data === "status changed"){
							$(".field-title:contains('state') ~ .field-value").text("off");
						}
					});
				});
				$("#ram-space-button").click(function(){
					let ram_space = $("#ram-space").val();
					$.post('/change_config/',{'vm':current_vm, 'ram-space':ram_space}, function(data, stat){
						if (data !== ""){
							$(".field-title:contains('ram') ~ .field-value").text(ram_space);
						}
					});
				});
				$("#core-numbers-button").click(function(){
					let core_numbers = $("#core-numbers").val();
					$.post('/change_config/',{'vm':current_vm, 'core-numbers':core_numbers}, function(data, stat){
						if (data !== ""){
							$(".field-title:contains('num_of_cpus') ~ .field-value").text(core_numbers);
						}
					});
				});
				$(".dropdown-content p").click(function(){
					current_vm = ($(this).text());
					const vms = JSON.parse($("#script-id").text());
					for (const vm in vms){
						if (vm !== current_vm){
							$("#"+vm).css("display","none");
						}
						else{
							$("#"+vm).css("display","block");
						}
					}
				});
			});

		</script>
	</head>
	<body>
		<nav>
			<div class="dropdown">
				<span> Virtual Machines </span>
				<div class="dropdown-content">
					{% for key, value in vms.items %}
						<p href="">{{ value.name }}</p>
					{% endfor %}
				</div>
			</div>
			<a href=""> New Virtual Machine </a>
		</nav>
		<div id="nav-place-holder"> </div>
		<div class="card">
			<div class="card-header">
				<p> Virtual Machine Status </p>
			</div>
			{% for vm, vm_features in vms.items %}
			<div id="{{vm}}">
				{% for feature_name, feature_value in vm_features.items %}
					<div class="card-item" >
						<span class="field-title">{{feature_name}}: </span>
						<span class="field-value">{{feature_value}}</span>
					</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
		<div class="card">
			<div class="card-header">
				<p> Manage Virtual Machine </p>
			</div>
			<div class="card-item">
				<button id="on-switch" class="card-button" style="left:20%;"> Turn On </button>
				<button id="off-switch" class="card-button" style="left:40%;"> Turn Off </button>
			</div>
			<div class="card-item">
				<span class="field-title" class="card-button"> Set CPU Cores: </span>
				<input type="number" id="core-numbers">
				<button id="core-numbers-button" style="float:right;" class="card-button">submit</span>
			</div>
			<div class="card-item">
				<span class="field-title"> Set Main Memory: </span>
				<input type="number" id="ram-space">
				<button id="ram-space-button" class="card-button" style="float:right;">submit</span>
			</div>
			<div class="card-item">
				<button id="delete-button" class="card-button" style="left:40%;"> delete </button>
			</div>
		</div>
		<div class="card">
			<div class="card-header">
				<p> Virtual Machine Interaction </p>
			</div>
			<form>
				<div class="card-item">
					<span class="field-title"> Input Command: </span>
					<input type="text" name="command">
					<span class="field-title"> Command Result: </span>
				</div>
				<div class="card-item">
					<button id="clone-button" class="card-button" style="left:30%"> Clone This Machine </button>
				</div>
			</form>
		</div>
	</body>
</html>

